accelerate==0.31.0
datasets==2.20.0
evaluate
huggingface_hub==0.23.4
ipykernel
matplotlib
nltk
numpy
pandas
peft==0.11.1
presidio-analyzer
presidio-anonymizer
pyyaml
regex
scikit-learn
seaborn
spacy
tokenizers==0.19.1
tqdm
transformers==4.41.2
